/* Fonts */
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}

/* Variables */
:root {
  /* Basic */
  --basic-black: #000000;
  --basic-black-lighter: #283136;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-grey: #EEEEEE;
  --basic-gray-dark: #666666;
  --basic-grey-darker: #444444;
  --basic-yellow: #EFC84A;
  --basic-white: #ffffff;

  /* Special */
  --special-red-hover: #E74246;
  --special-red-invalid: #E74246;
  --special-red-press: #D7373B;

  --special-green-hover: #00BC6C;
  --special-green-press: #00AA62;

  --special-yellow-hover: #EAB534;
  --special-yellow-press:#E5A722;

  --special-grey-hover: #DFDFDF;
  --special-grey-press:#D5D5D5;
  --special-grey-btn-cur-border: #DBDBDB;
  --special-grey-order-item-link: rgba(166, 166, 166, 0.2);
  --special-grey-order-item-link-hover: #A6A6A6;
  --special-grey-templates-item-background: rgba(77, 77, 77, 0.12);
  --special-grey-templates-item-hover-background: rgb(77, 77, 77);

  --special-white-press: rgba(255,255,255,0.3);
  --special-black-press: rgba(0,0,0,0.3);
  --special-white-background-grey-btn-cur: rgba(0, 0, 0, 0.0001);
  --special-black-templates-item-border: rgba(0, 0, 0, 0.1);

  --special-box-shadow-press: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --special-box-shadow-filter-toggle: 0px 2px 1px rgba(0, 0, 0, 0.15);
  --special-box-shadow-templates-item-hover: 0px 6px 15px rgba(0, 1, 1, 0.25);

  --special-social-background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  --special-social-background-hover: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
  --special-social-background-active: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;

  --special-grey-scale: #D7DCDF;
  --special-grey-filter-toggle-background: #ABABAB;

  --special-black-order-item-cur: #231F20;

  --special-modal-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  --special-modal-form-input-color: #444444;
  --special-modal-form-input-border: 2px solid #D7DCDE;
  --special-modal-form-input-border-hover: 2px solid #B4B9BB;
}

/* Global */
.page-body {
  margin: 0;
  padding: 0;
  /*width: 1160px;*/
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

.page *:focus {
  outline: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  /*min-height: 50px;*/
  border-radius: 3px;
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-red:hover,
.btn-red:focus {
  background-color: var(--special-red-hover);
}

.btn-red:active {
  color: var(--special-white-press);
  background-color: var(--special-red-press);
  box-shadow: var(--special-box-shadow-press) ;
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-green:hover,
.btn-green:focus {
  background-color: var(--special-green-hover);
}

.btn-green:active {
  color: var(--special-white-press);
  background-color: var(--special-green-press);
  box-shadow: var(--special-box-shadow-press) ;
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: var(--special-yellow-hover);
}

.btn-yellow:active {
  color: var(--special-white-press);
  background-color: var(--special-yellow-press);
  box-shadow: var(--special-box-shadow-press) ;
}

.btn-grey {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.btn-grey:hover,
.btn-grey:focus {
  background-color: var(--special-grey-hover);
}

.btn-grey:active {
  color: var(--special-black-press);
  background-color: var(--special-grey-press);
  box-shadow: var(--special-box-shadow-press) ;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background-color-red {
  background-color: var(--basic-red);
}

.background-color-green {
  background-color: var(--basic-green);
}

.background-color-yellow {
  background-color: var(--basic-yellow);
}

/*list-style: none, for uls*/

/*.page ul,*/
.site-navigation,
.cart,
.slider-list,
.products-list,
.about-offers-list,
.about-terms,
.clients-list,
.social-list,
.filter-grid-list,
.filter-features-list,
.sort-list,
.sort-orders,
.templates-list,
.templates-pagination-list {
  list-style: none;
  padding-inline-start: 00px; /*????*/
}

/* Header */
.main-header-wrap {
  width: 100%;
  margin: 0 auto;
  background-color: var(--basic-grey);
  display: grid;
}

.main-header {
  background-color: var(--basic-grey);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 20px;
  display: grid;
  justify-self: center;
  width: 1160px;
}

/* Header Navigation */
.main-nav {
  min-height: 114px;
  display: grid;
  justify-content: center;
  grid-template-columns: 235px 1fr 235px;
  align-items: end;
}

.site-navigation {
  min-width: 437px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.site-navigation-item,
.cart-item {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.cart-item-link {
  padding-left: 40px;
}

.site-navigation-item-cur:after,
.cart-item-cur:after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--basic-red);
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation-item-link,
.cart-item-link {
  color: var(--basic-black);
}

.site-navigation-item-link:hover,
.cart-item-link:hover,
.site-navigation-item-link:focus,
.cart-item-link:focus {
  color: var(--basic-red);
}

.site-navigation-item-link:active,
.cart-item-link:active {
  color: var(--special-black-press);
}

.cart-item {
  position: relative;
}

.cart-item-link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Main */
/* Main Slider */
.container {
  width: 100%;
  display: grid;
}

.slider-wrap {
  width: 100%;
  background-color: var(--basic-grey);
  display: grid;
}

.slider {
  position: relative;
  width: 1160px;
  min-height: 431px;
  padding: 0 20px;
  background-color: var(--basic-grey);
  justify-self: center;
  margin: 0;
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slider-item {
  min-height: 431px;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.slider-item-title {
  padding: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 78px 0 0 0;
  width: 45%;
}

.slider-item-text {
  padding: 0;
  color: var(--basic-black-lighter);
  margin: 26px 0 0 0;
  width: 40%;
}

.slider-item-button {
  padding: 17px 55px 15px 54px;
  /*min-width: 240px;*/
  /*line-height: 50px;*/
  margin: 39px 0 0 0;
  /*width: 20.7%;*/
  align-self: flex-start;
}

.slider-item-img {
  position: absolute;
  right: 3px;
  top: 0;
  margin: 0;
  padding: 0;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 556px;
  display: flex;
  min-width: 88px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider-controls-button {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls-button-cur {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../img/slider-controls-button-cur.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slider-controls-button:hover,
.slider-controls-button:focus {
  box-sizing: border-box;
  border: 2px solid var(--basic-black-lighter);
}

/* Main Products */
.products {
  justify-self: center;
  width: 1160px;
  /*border-bottom: 2px solid var(--basic-grey);*/
  padding: 80px 20px;
  position: relative;
}

.products:after {
  content: '';
  width: 96.5%;
  height: 2px;
  background: var(--basic-grey);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.products-list-item {
  margin: 0 100px 0 0;
  padding: 0;
  max-width: 300px;
  min-height: 293px;
}

.products-list-item:nth-child(3) {
  margin: 0;
}

.products-list-item-title {
  margin: 18px 0 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  max-width: 300px;
}

.products-list-item-text {
  color: var(--basic-black-lighter);
  margin: 16px 0 0 0;
  max-width: 300px;
  width: 85%;
}

.products-list-item-button {
  max-width: 300px;
  margin: 32px 0 0 0;
  padding: 17px 40px 15px 40px;
}

.products-list-item-img {
  width: 300px;
  height: 146px;
}

/* Main About */
.about {
  display: grid;
  justify-self: center;
  width: 1160px;
  grid-template-columns: 1fr 360px;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  padding: 41px 20px 49px 20px;
  /*border-bottom: 2px solid var(--basic-grey);*/
  position: relative;
}

.about:after {
  content: '';
  width: 96.5%;
  height: 2px;
  background: var(--basic-grey);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 34px 0 0 0;
  width: 86%;
}

.about-credo {
  color: var(--basic-black-lighter);
  margin: 33px 0 0 0;
  width: 86%;
}

.about-offers-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black-lighter);
  margin: 41px 0 0 0;
  width: 86%;
}

.about-offers-list {
  position: relative;
  margin: 23px 0 0 0;
  padding: 0 0 0 36px;
}

.about-offers-list-item {
  color: var(--basic-black-lighter);
  /*list-style-image: url(../img/red-list-marker.svg);*/
  margin: 0 0 24px 0;
  padding: 0 0 0 0;
  position: relative;
}

.about-offers-list-item:before {
  content: "";
  background-color: var(--basic-red);
  width: 25px;
  height: 2px;
  position: absolute;
  left: -36px;
  top: 11px;
}

/*.about-offers-list-item::marker {*/
/*  position: absolute;*/
/*  !*top: 10px;*!*/
/*  padding: 0 20px 0 0;*/
/*  !*margin: 0 0 0 -32px;*!*/
/*}*/

.about-tradition {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 0 16px;
  padding: 0 0 0 0;
}

.about-terms {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 6px;
}

.about-terms-item-percent {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  margin: 14px 0 0 0;
  padding: 0 0 0 0;
}

.about-terms-item-percent sup{
  font-size: 28px;
}

.about-terms-item-text {
  line-height: 18px;
  color: var(--basic-black-lighter);
  margin: 12px 0 0 0;
  padding: 0 0 0 0;
}

/* Main Clients */
.clients {
  display: grid;
  justify-self: center;
  width: 1160px;
  margin: 0 0 0 0;
  padding: 0px 20px 0px 20px;
  /*border-bottom: 2px solid var(--basic-grey);*/
  position: relative;
}

.clients:after {
  content: '';
  width: 96.5%;
  height: 2px;
  background: var(--basic-grey);
  position: absolute;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
}

.clients-list {
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
  /*flex-wrap: wrap;*/
  /*margin: 0;*/
  /*padding: 0 0 0 0;*/


  display: grid;
  grid-template-columns: 280px 300px 300px 280px;
  grid-template-rows: 193px;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0 0 0 0;
}

.clients-list-item {
  /*position: relative;*/
  /*min-height: 100px;*/
  /*align-self: baseline;*/
  /*margin: 0 0 0 0;*/
  /*padding: 0 0 0 0;*/

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clients-list-item:nth-child(4) .clients-item-link {
  margin: 6px 0 0 21px;
}

.clients-list:nth-child(5),
.clients-list-item:first-child {
  /*margin: 0;*/
  padding: 11px 15px 0 0;
}

.clients-list-item:not(:first-child):not(:nth-child(5))::after {
  content: "";
  position: absolute;
  top: 67px;
  left: -1px;
  width: 2px;
  height: 52px;
  background-image: url(../img/clients-after-border.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.clients-list-item-logo {
  opacity: 0.2;
}

.clients-item-link:focus .clients-list-item-logo,
.clients-list-item-logo:hover,
.clients-list-item-logo:focus {
  opacity: 1;
}

.clients-list-item-logo:active {
  opacity: 0.1;
}

/* Main Map */
.map,
.catalog-map {
  display: grid;
  justify-self: center;
  min-width: 1160px;
  width: 100%;
  min-height: 416px;
  position: relative;
  padding: 0 0 0 0;
  margin: 71px 0 0 0;
  background-color: transparent;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map-google-map {
  margin: 0 auto;
}

.map-cont-container {
  display: grid;
  justify-self: center;
  width: 1160px;
  padding: 0 20px;
  position: relative;
}

.map-contacts {
  position: absolute;
  min-height: 308px;
  width: 319px;
  left: 20px;
  top: 54px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.map-contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 49px 0 0 50px;
}

.map-contacts-address,
.map-contacts-tel,
.map-contacts-tel-link {
  line-height: 18px;
  color: var(--basic-gray-dark);
}

.map-contacts-address {
  padding: 0 0 0 0;
  margin: 23px 0 0 49px;
  width: 66%;
}

.map-contacts-tel {
  padding: 0 0 0 0;
  margin: 18px 0 0 50px;
}

.map-contacts-tel-link:focus,
.map-contacts-tel-link:hover {
  color: var(--basic-black);
}

.map-contacts-button {
  padding: 17px 45px 15px 44px;
  margin: 37px 0 0 50px;
  align-self: flex-start;
}

.map-marker {
  position: absolute;
  top: 86px;
  right: 267px;
}

/* Footer Social */
.main-footer {
  display: grid;
  justify-self: center;
  width: 1160px;
  padding-bottom: 68px;
}

.social {
  display: grid;
  grid-template-columns: 401px 1fr;
}

.social-list {
  margin: 0;
  padding: 68px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.social-list-item {
  margin: 0 0 0 9px;
  padding: 0 0 0 0;
}

.social-list-item:first-child {
  margin: 0;
}

.social-list-item-link {
  background-position: center;
  background-repeat: no-repeat;
  /*display: inline-block;*/
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: var(--special-social-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list-item-link:hover,
.social-list-item-link:focus {
  background: var(--special-social-background-hover);
}

.social-list-item-link:active {
  background: var(--special-social-background-active);
  box-shadow: var(--special-box-shadow-press) ;
}

.social-list-item-link:active path {
  fill: var(--special-white-press);
}

.social-right-container {
  order: 1;
}

.social-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  margin: 75px 0 0 0;
}

.social-offer {
  line-height: 22px;
  color: var(--basic-grey-darker);
  padding: 0;
  margin: 10px 0 0 0;
}

/* catalog.html */
.catalog-header-logo-img,
.catalog-header-logo-img:hover,
.catalog-header-logo-img:focus {
  cursor: pointer;
}

.catalog-header-logo-img:active {
  opacity: 0.303;
  cursor: pointer;
}

.main-title {
  order: 1;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
}

.catalog-main-container {
  width: 1160px;
  display: grid;
  justify-self: center;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr 416px;
}

.catalog-main-container-right {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr auto;
}

/* catalog.html Filter */
.filter-item {
  margin: 0;
  padding: 0;
  border: none;

  /* Для демонстрации */
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--special-grey-scale);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-grey-filter-toggle-background);
  border-radius: 50%;
  box-shadow: var(--special-box-shadow-filter-toggle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-black-lighter);
  border: none;
  border-radius: 3px;
  background: var(--basic-grey);
  font-family: inherit;
  font-size: inherit;
}

.filter-option {
  position: relative;
}

.filter-grid-input + label,
.filter-features-input + label {
  line-height: 20px;
  color: var(--basic-black-lighter);
}

.filter-grid-input + label:focus,
.filter-grid-input + label:hover,
.filter-features-input + label:focus,
.filter-features-input + label:hover {
  cursor: pointer;
}

.filter-grid-input:disabled + label,
.filter-features-input:disabled + label {
  opacity: 0.3;
}

.filter-grid-input + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  /* если очень захочется рисовать в css а не вставлять svg */
  /* width: 19px;
  height: 19px;
  border: 4px solid #4d4d4d;
  opacity: 0.4;
  border-radius: 50%; */
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-grid-input:checked + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-features-input + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-features-input:checked + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-grid-input:checked:hover + label::before,
.filter-grid-input:checked:focus + label::before,
.filter-grid-input:hover + label::before,
.filter-grid-input:focus + label::before,
.filter-features-input:checked:hover + label::before,
.filter-features-input:checked:focus + label::before,
.filter-features-input:hover + label::before,
.filter-features-input:focus + label::before {
  opacity: 1;
  cursor: pointer;
}

.filter-grid-input:disabled + label::before
.filter-features-input:disabled + label::before {
  opacity: 0.1;
}

.filter-form-btn {
  width: 260px;
  border: none;
  /* border-bottom-color: transparent; */
}

.filter-form-btn:focus,
.filter-form-btn:hover,
.filter-form-btn:active {
  /* border-width: 0px;
  border-bottom-color: transparent; */
}

/* catalog.html Sort */
.sort {
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.sort-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-orders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-list-item-link {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  opacity: 0.3;
}

.sort-list-item-link:focus,
.sort-list-item-link:hover {
  opacity: 0.6;
}

.sort-list-item-link-cur,
.sort-list-item-link:active {
  opacity: 1;
}

.sort-order-item-link path {
  fill: var(--special-grey-order-item-link);
}

.sort-order-item-link:focus path,
.sort-order-item-link:hover path {
  fill:var(--special-grey-order-item-link-hover);
}

.sort-order-item-link:active path,
.sort-order-item-link-cur path {
  fill: var(--special-black-order-item-cur);
}

/* catalog.html templates */

.templates-list {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  /* grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.templates-item {
  position: relative;
  border: 1px solid var(--special-black-templates-item-border);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--special-grey-templates-item-background);
  width: 360px;
  height: 620px;
  margin: 10px;
}

.templates-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 67px;
  height: 14px;
  background-image: url(../img/circle.svg);
  background-repeat: space;
  background-position: 0 0;
}

.templates-item-img {
  position: absolute;
  top: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.templates-item:hover .templates-item-container,
.templates-item:focus .templates-item-container {
  display: flex;
}

.templates-item:hover,
.templates-item:focus {
  background-color: var(--special-grey-templates-item-hover-background);
  box-shadow: var(--special-box-shadow-templates-item-hover);
}

.templates-item-container {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 0px;
  bottom: 0px;
  height: 231px;
  width: 358px;
  background-color: var(--basic-grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.templates-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.templates-item-title:hover,
.templates-item-title:focus {
  color: var(--basic-red);
}

.templates-item-title:active {
  color: var(--special-black-press);

}

.templates-item-desc {
  line-height: 18px;
  color: var(--basic-gray-dark);
}

.templates-item-button {
  width: 200px;
}

.templates-pagination-list {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.templates-pagination-item {
  margin-right: 11px;
}

.templates-pagination-item:last-child {
  margin-right: 0;
}

.templates-pagination-item-btn {
  width: 50px;
}

.templates-pagination-item-btn-cur {
  background-color: var(--special-white-background-grey-btn-cur);
  border: 3px solid var(--special-grey-btn-cur-border);
  box-sizing: border-box;
}

.templates-pagination-item-btn-next {
  width: 260px;
}

/* catalog.html Map */

.catalog-map {
  grid-row: 2 /3;
  grid-column: 1 /3;
}

/*Modal*/

.modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /*width: 960px;*/
  /*height: 590px;*/
  width: 760px;
  height: 390px;
  background-color: var(--basic-white);
  box-shadow: var(--special-modal-box-shadow);
  padding: 63px 100px 137px;
}

.modal-show {
  display: block;
}

.modal-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  margin-top: 0;
  margin-bottom: 37px;
}

.modal-form label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px;
}

.modal-form input {
  margin-bottom: 31px;
}

.modal-form-input {
  min-height: 50px;
  line-height: 18px;
  color: var(--special-modal-form-input-color);
  opacity: 0.5;
  border: var(--special-modal-form-input-border);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 15px;
}

.modal-form-input:hover {
  border: var(--special-modal-form-input-border-hover);
}

.modal-form-input:focus {
  opacity: 1;
  border: 2px solid var(--basic-black);
}

.modal-form-input-invalid {
  color: var(--special-red-invalid);
  border: 2px solid var(--special-red-invalid);
  box-sizing: border-box;
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  padding: 0;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 40px;
}

.modal-label-name {
  grid-row: 1 / 2;
  grid-column: 1 /2;
}

.modal-input-name {
  grid-row: 2 / 3;
  grid-column: 1 /2;
}

.modal-label-email {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.modal-input-email {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.modal-label-text {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.modal-input-text {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  height: 116px;
}

.modal-btn {
  grid-row: 5 / -1;
  grid-column: 1 / -1;
  border: 0;
  cursor: pointer;
  margin: 48px 0 0 0;
  padding: 17px 83px 15px 85px;
  justify-self: left;
}
