/* Fonts */
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Variables */
:root {
  /* Basic */
  --basic-black: #000000;
  --basic-black-lighter: #283136;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-grey: #EEEEEE;
  --basic-gray-dark: #666666;
  --basic-grey-darker: #444444;
  --basic-yellow: #EFC84A;
  --basic-white: #ffffff;

/* Special */
--special-red-hover: #E74246;
--special-red-invalid: #E74246;
--special-red-press: #D7373B;

--special-green-hover: #00BC6C;
--special-green-press: #00AA62;

--special-yellow-hover: #EAB534;
--special-yellow-press:#E5A722;

}

/* Global */
.page-body {
  margin: 0;
  padding: 0;
  min-width: 1160px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

.page ul {
  list-style: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  height: 50px;
  border-radius: 3px;
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-red:hover,
.btn-red:focus {
  background-color: var(--special-red-hover);
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-green:hover,
.btn-green:focus {
  background-color: var(--special-green-hover);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: var(--special-yellow-hover);
}

/* Header */
.main-header {
  background-color: var(--basic-grey);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

/* Header Navigation */
.site-navigation-item-link,
.cart-item-link {
  color: var(--basic-black);

}

.site-navigation-item-link:hover,
.cart-item-link:hover,
.site-navigation-item-link:focus,
.cart-item-link:focus {
  color: var(--basic-red);
}

.site-navigation-current a:not([href]) {
  /* сделать подчёркивание красным */
  /* https://stackoverflow.com/questions/11676962/anotanothref-selector */
}

/* Main */
/* Main Slider */
.slider {
  background-color: var(--basic-grey);
}

.slider-item-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-item-text {
  color: var(--basic-black-lighter);
}

.slider-item-button {
  width: 240px;
}

/* Main Products */
.products-list-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.products-list-item-text {
  color: var(--basic-black-lighter);
}

.products-list-item-button {
  width: 160px;
}

/* Main About */
.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-credo {
  color: var(--basic-black-lighter);
}

.about-offers-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black-lighter);
}

.about-offers-list-item {
  color: var(--basic-black-lighter);
}

.about-tradition {
  font-weight: 700;
  text-transform: uppercase;
}

.about-terms-item-repcent {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.about-terms-item-text {
  line-height: 18px;
  color: var(--basic-black-lighter);
}

/* Main Clients */

/* Main Map */
.map-contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.map-contacts-address,
.map-contacts-tel,
.map-contacts-tel-link {
  line-height: 18px;
  color: var(--basic-gray-dark);
}